@import "css_reset.css";

body {
  background-color: rgb(235,235,235);
}

@font-face {
    font-family: Aquire;
    src: url('/static/fonts/Aquire-BW0ox.otf');
    font-weight: normal;
}

@font-face {
    font-family: AquireBold;
    src: url('/static/fonts/AquireBold-8Ma60.otf');
    font-weight: normal;
}

@font-face {
    font-family: AquireLight;
    src: url('/static/fonts/AquireLight-YzE0o.otf');
    font-weight: normal;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 10
}

#logo-container {
    background: url('/static/img/logo.png') no-repeat center;
    width:337px;
    height:180px;
    background-size: 80% 80%;
}

#logo-container:hover{
    background: url('/static/img/logo_hover.png') no-repeat center;
    width:337px;
    height:180px;
    background-size: 80% 80%;
}

#question-button-container {
    background: url('/static/img/question_button.png') no-repeat center;
    display: flex;
    justify-content: center;
    width:250px;
    height:40px;
    background-size: 250px 40px;
}

#question-button-container:hover {
    background: url('/static/img/question_button_hover.png') no-repeat center;
    width:250px;
    height:40px;
    background-size: 250px 40px;
}

#check-button-container {
    background: url('/static/img/check.png') no-repeat center;
    width:100%;
    height:100%;
    background-size: 2rem, 2rem;
}

#search-check-button-container {
    display: inline-block;
    background: url('/static/img/check.png') no-repeat center;
    width:4rem;
    height:100%;
    background-size: 2rem, 2rem;
}

#search-check-button-container:hover {
    display: inline-block;
    background: url('/static/img/check_hover.png') no-repeat center;
    width:4rem;
    height:100%;
    background-size: 2rem, 2rem;
}

#check-button-container:hover {
    background: url('/static/img/check_hover.png') no-repeat center;
    width:100%;
    height:100%;
    background-size: 2rem, 2rem;
}

#ordering-table {
    font-family: Aquire, serif;
    width: auto;
    background-color: rgb(255,255,255);
    border-left: 4px solid;
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-collapse: collapse;
    border-top-left-radius: 2rem 2rem;
    border-bottom-left-radius: 2rem 2rem;
    border-color: rgb(57,57,57);
    margin-left: auto;
    margin-right: 0;
}

select {
    width: 6rem;
    border: rgb(57,57,57) 1px solid;
    height: 34px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, monospace;
    color: rgb(255, 159, 24);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgb(57,57,57);
}

.question-on-list {
    background-color: rgb(255,255,255);
    border-collapse: collapse;
    border: rgb(57,57,57) 5px solid;
    border-left-width: 0;
    border-radius: 0 30px 30px 0;
    width: 95%;
}

.answer-on-list {
    background-color: rgb(255,255,255);
    border-collapse: collapse;
    border: rgb(255, 159, 24) 5px solid;
    border-right-width: 0;
    border-radius: 30px 0 0 30px;
    margin-left: auto;
    margin-right: 0px;
    max-width: 95%;
    width: fit-content;
}

.comment-for-answer {
    background-color: rgb(255,255,255);
    border-collapse: collapse;
    border: rgb(101, 101, 101) 3px solid;
    border-right-width: 0;
    border-radius: 30px 0 0 30px;
    margin-left: auto;
    margin-right: 0px;
    max-width: 90%;
    width: fit-content;
}

.question-comment {
    background-color: rgb(255,255,255);
    border-collapse: collapse;
    border: rgb(101,101,101) 3px solid;
    border-left-width: 0;
    border-radius: 0 30px 30px 0;
    max-width: 90%;
    width: fit-content;
}

.single-question-on-list {
    background-color: rgb(255,255,255);
    border-collapse: collapse;
    border: rgb(57,57,57) 5px solid;
    border-left-width: 0;
    border-radius: 0 30px 30px 0;
    width: 100%;
    height: 100%;
}

.question-title{
    font-family: Arial, serif;
    text-align:center;
    background-color: rgb(57,57,57);
    padding-bottom: 0.5rem;
    border-top-right-radius: 20px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5
}

.question-title-overflowing {
    font-family: Arial, serif;
    text-align:center;
    background-color: rgb(57,57,57);
    padding-bottom: 0.5rem;
    border-top-right-radius: 20px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-box-orient: vertical;
    line-height: 1.5
}

.message{
    font-size: 1.3rem;
    font-family: Arial,serif;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2
}

.message-overflowing{
    font-size: 1.3rem;
    font-family: Arial,serif;
    display: -webkit-box;
    width: 100%;
    -webkit-box-orient: vertical;
    line-height: 1.2
}

.image-details{
    font-size: 1rem;
    font-family: Arial,serif;
    display: -webkit-box;
    text-align: center;
    width: 100%;
    -webkit-box-orient: vertical;
    line-height: 1
}

summary:hover{
    color: rgb(255, 159, 24);
    cursor: pointer;
}

.link {
    color:white;
    font-size: 2rem;
}

.link:hover {
    color: rgb(255, 159, 24);
}

.title {
    color:white;
    font-size: 2rem;
}

.views {
    display: flex;
    height: 50%;
    justify-content: flex-end;
    font-size: 1rem;
    font-family: Aquire,serif;
    padding-right: 1rem;
    vertical-align: top;
}

.votes {
    display: flex;
    height: 2rem;
    justify-content: flex-end;
    font-size: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    font-family: Aquire,serif;
}

#upvote {
    background: url('/static/img/thumbs_up.png') no-repeat center;
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
}

#upvote:hover {
    background: url('/static/img/thumbs_up_hover.png') no-repeat center;
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
}

#downvote {
    background: url('/static/img/thumbs_down.png') no-repeat center;
    width: 24px;
    height: 24px;
    background-size: 100% 100%;


}#downvote:hover {
    background: url('/static/img/thumbs_down_hover.png') no-repeat center;
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
}

#header-container {
    height: 3.5rem;
    width: 100%;
    background: rgb(57,57,57);
    border-top-right-radius: 20px;
    border-bottom: 1px solid rgb(57,57,57);
}
#message-container {
    height: 70%;
    width: 100%;
    border-bottom: 1px solid rgb(57,57,57);
}

#question-id-container {
    width: 10%;
    height: 100%;
    float: left;
    background: rgb(57,57,57);
    border-right: 1px solid rgb(255,255,255);
    color: rgb(257,257, 257);
    text-align: center;
}

#question_title-container {
    height: 100%;
}

#question-views-container {
    width: 10%;
    height: 100%;
    border-right: 1px solid rgb(57,57,57);
    text-align: center;
    float: left;
}

#question-message-container {
    width: 60%;
    height: 100%;
    float: left;
}

#question-image-container {
    float: right;
    width: 25%;
    height: 100%;
}
.question_img {
    width: 100%;
    height: 100%;
}

#disp-question-btn-container {
    margin: 0.75rem 1.5rem;
    display: inline-block;
}

#answer-btn-container {
    margin: 0.75rem 1.5rem;
    display: inline-block;
}

/*FORMS LAYOUT*/
div.form_layout {
    display: block;
    font-family: Arial, monospace;
    margin: 2.5rem;
    font-size: 1rem;
    border: 6px solid rgb(57,57,57);
    border-radius: 20px;
}

h1.action_title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 14px;
    background: rgb(57,57,57);
    font-size: 1.7rem;
    color: white;
    letter-spacing: 3px;

}
input[type=text], input[type=submit] {
    border-radius: 0 10px 10px 10px;
    border: 1px solid rgb(57,57,57);
    font-size: 1.1em;
    width: 100%;
}

.action_form {
    padding: 2vh 3vw 0 3vw;
}

input[type=text] {
    font-family: Arial,serif;
    margin-top: 5px;
    line-height: 25px;
}

label:not(label[for="order_by"], label[for="order-direction"], label[for="file"]){
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(57,57,57);
}

form textarea {
    display: inline-block;
    font-family: AquireLight,serif;
    margin: 5px 0;
    padding: 0;
    width: 100%;
    height: 20vh;
    border: 1px solid rgb(57,57,57);
    border-radius: 0 10px 10px 10px;
    font-size: 1em;
    resize: none;
}

form textarea.search {
    display: flex;
    font-family: Arial,serif;
    margin: 5px 0;
    padding: 0;
    min-width: 8rem;
    height: 1.5rem;
    border: 1px solid rgb(57,57,57);
    border-radius: 0 10px 10px 0px;
    font-size: 1rem;
    resize: none;
}

.search-text {
    display: inline-block;
    font-family: AquireLight,serif;
    padding: 0.6rem 0.6rem 0.6rem 0;
    font-size: 1rem;
}

.login-container{
    background-color: rgb(255,255,255);
    height: 1.5rem;
    border-style: solid;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-color: rgb(57,57,57);
    border-radius: 0px 0px 10px 10px;
}

.sign-link {
    color: rgb(57,57,57);
    font-family: Aquire,serif;
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sign-link:hover {
    color: rgb(255, 159, 24);
    font-family: Aquire,serif;
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

input[type=submit] {
    font-family: Arial,serif;
    display: block;
    width: 17rem;
    background: rgb(255,255,255);
    margin: 1rem auto;
    padding: 10px 15px;
    color: rgb(57,57,57);
    font-size: 1rem;
}


input[type="submit"]:hover {
    background: rgb(255, 159, 24);
    border-color: rgb(255, 159, 24);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

input[type="file"] {
    font-family: Arial,serif;
    height: 0;
    overflow: hidden;
    width: 0;
}

input[type="file"] + label {
    font-family: Arial,serif;
    width: 17rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(250,250,250);
    padding: 10px 0;
    border: 1px solid rgb(57,57,57);
    border-radius: 0 10px 10px 10px;
    color: rgb(57,57,57);
    font-size: 1rem;
    text-align: center;
}

input:hover + label{
    background: rgb(255, 159, 24);
    border-color: rgb(255, 159, 24);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.paragraph_class {
    margin-top: 5px;
    padding: 2vw 2vw 1vh 3vh;
}

p.paragraph_look {
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(57,57,57);
    background: linear-gradient(to top, #ff9933 0%, #ffcc66 100%);
    border-radius: 10px 10px 10px 0;
}

p.paragraph_look > span {
    font-weight: bolder;
}

.back_to_question_btn {
    font-family: Arial,serif;
    width: 15rem;
    padding: 10px 15px;
    margin: 1rem auto;
    background: white;
    color: rgb(57,57,57);
    border-radius: 0 10px 10px 10px;
    border: 1px solid rgb(57,57,57);
    font-size: 1rem;
    text-align: center;
}

.back_to_question_btn:hover {
    background: rgb(255, 159, 24);
    border-color: rgb(255, 159, 24);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}


.back_to_question_btn a {
    color: rgb(57,57,57);
    text-decoration: none;
}

#edited_count {
    padding: 10px;
    margin: 8px 0;
    color: rgb(57,57,57);
    background: linear-gradient(to top, #ff9933 0%, #ffcc66 100%);
    border-radius: 10px 10px 10px 0;
    text-align: center;
}

/*TOOLTIP TEXT OBJECT*/
.tooltip-text-left,
.tooltip-text-right{
    visibility: hidden;
    width: 80px;
    background-color: rgb(255, 159, 24);
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    text-decoration: none;
    position: absolute;
    z-index: 1;
}

.tooltip{
    position:relative;
}

.tooltip .tooltip-text-right{
    top: 2rem;
    left: 2rem;
}

.tooltip .tooltip-text-left{
    top: 2rem;
    right: 2rem;
}

.tooltip:hover .tooltip-text-right{
    visibility: visible;
}

.tooltip:hover .tooltip-text-left{
    visibility: visible;
}

/*DISPLAY QUESTION LAYOUT*/
#edit-content-btn {
    background: url('/static/img/pencil.png') no-repeat center;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}

#edit-content-btn:hover {
    background: url('/static/img/pencil_hover.png') no-repeat center;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}

#delete-content-btn {
    background: url('/static/img/delete.png') no-repeat center;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}

#delete-content-btn:hover {
    background: url('/static/img/delete_hover.png') no-repeat center;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}

#comment-content-btn {
    background: url('/static/img/comment.png') no-repeat center;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}

#comment-content-btn:hover {
    background: url('/static/img/comment_hover.png') no-repeat center;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}

#answer-question-btn {
    background: url('/static/img/new_answer_button.png') no-repeat center;
    display: flex;
    justify-content: center;
    width: 217px;
    height: 40px;
    background-size: 217px 40px;
}

#answer-question-btn:hover {
    background: url('/static/img/new_answer_button_hover.png') no-repeat center;
    background-size: 217px 40px;
}

button.submit-btn {
    font-family: Arial,serif;
    width: 12rem;
    padding: 10px 0;
    background: rgb(255,255,255);
    color: rgb(57,57,57);
    border-radius: 0 10px 10px 10px;
    border: 1px solid rgb(57,57,57);
    font-size: 1rem;
    text-align: center;
}

button.submit-btn:hover {
    background: rgb(255, 159, 24);
    border-color: rgb(255, 159, 24);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

label span {
    color: red;
}