{% extends 'base.html' %}
{% block title%}Add new question{% endblock %}
{% block content %}
    <a href="/">
        <div id="logo-container"></div>
    </a>

    <div class="form_layout">

        <h1 class="action_title">Add New Question</h1>

        <form action="{{ url_for('add_new_question_post') }}" enctype="multipart/form-data" method="POST" class="action_form">
            <label for="question_title">Title:</label><br>
            <input type="text" id="question_title" name="new_question"><br><br>

            <label for="question_description">Description:</label><br>
            <textarea name="question_description" id="question_description"></textarea><br>

            <input type="file" id="file" name="image"/>
            <label for="file" class="btn">Add an image</label>

            <input type="submit" value="Add your question">
        </form>

    </div>
{% endblock %}


