{% extends "base.html" %}

{% block title %}Answer the question{% endblock %}

{% block content %}
    <a href="/">
        <div id="logo-container"></div>
    </a>

    <div class="form_layout">
        <h1 class="action_title">Add new answer</h1>

        <div class="paragraph_class">
            <p class="paragraph_look"><span>Question title:</span> {{ question['title'] }}</p>
            <p class="paragraph_look"><span>Description: </span>{{ question['message'] }}</p>
       </div>

        <form action="/question/{{ question['id'] }}/new-answer" method="POST" class="action_form">
            <label for="answer_description">Write your answer here:</label><br>
            <textarea name="answer_description" id="answer_description"></textarea>
            <input type="submit" value="Add your answer">
        </form>
        <a href="{{ url_for('display_question', question_id=question.id)}}" style="text-decoration: none"><div class="back_to_question_btn">Back to question</div></a>


    </div>
{% endblock %}