{% extends "base.html" %}

{% block title %}Answer the question{% endblock %}

{% block content %}
    <h1>Choosen question:<br>{{ question['message'] }}</h1>
    <form action="/question/{{ question['id'] }}/new-answer" method="POST">
    <h2>Add an answer to this question:</h2>
            <label for="answer_description">Answer to the question:</label><br>
            <textarea name="answer_description" id="answer_description" rows="10" cols="30" style="resize: none"></textarea><br><br>
            <input type="submit" value="Add your answer">
        </form>

{% endblock %}