{% extends "base.html" %}

{% block title %}Answer the question{% endblock %}

{% block content %}
    <a href="/">
        <div id="logo-container"></div>
    </a>

    <div class="form_layout">
        <h1 class="action_title">Add new answer</h1>

        <div class="paragraph_class">
            <p class="paragraph_look"><span>Question title:</span> {{ question['title'] }}</p>
            <p class="paragraph_look"><span>Description: </span>{{ question['message'] }}</p>
       </div>

        <form action="/question/{{ question['id'] }}/new-answer" method="POST" class="action_form">
            <label for="answer_description">Here write your answer:</label><br>
            <textarea name="answer_description" id="answer_description"></textarea><br><br>
            <input type="submit" value="Add your answer">
        </form>

    </div>
{% endblock %}