{% extends "base.html" %}

{% block title %}Adding comment{% endblock %}

{% block content %}
    <a href="/">
        <div id="logo-container"></div>
    </a>

    <div class="form_layout">
        <h1 class="action_title">Add new comment to question</h1>
        <div class="paragraph_class">
                <p class="paragraph_look"><span>Question title:</span> {{ question['title'] }}</p>
                <p class="paragraph_look"><span>Description: </span>{{ question['message'] }}</p>
        </div>

        <form action="/question/{{ question['id'] }}/new-comment" method="POST" class="action_form">
            <label for="comment">Your comment:</label><br>
            <textarea name="comment" id="comment"></textarea><br><br>
            <input type="submit" value="Add your comment">
        </form>

    </div>
{% endblock %}