{% extends "base.html" %}

{% block title %}Adding comment{% endblock %}

{% block content %}
    <h3>Title:</h3>
    <p>{{ question['title'] }}</p>
    <h3>Message:</h3>
    <p>{{ question['message'] }}</p><br>

    <form action="/question/{{ question['id'] }}/new-comment" method="POST">
            <label for="comment">Your comment:</label><br>
            <textarea name="comment" id="comment" rows="10" cols="30" style="resize: none"></textarea><br><br>
            <input type="submit" value="Submit">
        </form>

{% endblock %}