{% extends 'base.html' %}
{% block title%}Add new question{% endblock %}
{% block content %}

    <div id="question-container">

        <div id="header-container">
            <div id="question-id-container">
                #{{ question.id }}
                <br>
                {{ question.submission_time }}
            </div>
            <div id="question-title-container">
                {{ question.title }}
            </div>
        </div>

        <div id="message-container">
            <div id="question-views-container">
                Views: {{ question.view_number }}
                <br>
                Votes: {{ question.vote_number }}
            </div>
            <div id="question-message-container">
                {{ question.message }}
            </div>
            <div id="question-image-container">
                {{ question.image }}
            </div>
        </div>

        <div id="options-container">
            <div id="add-answer-container">
                <a href="{{ url_for('add_new_answer', question_id=question.id) }}">
                    <button type="submit">Add new answer</button>
                </a>
            </div>
            <div id="edit-question-container">
                <a href="{{ url_for('edit_question', question_id=question.id) }}">
                    <button type="submit">Edit question</button>
                </a>
            </div>
            <div id="delete-question-container">
                <a href="{{ url_for('delete_question', question_id=question.id) }}">
                    <button type="submit">Delete question</button>
                </a>
            </div>
            <div id="add-comment-to-question-container">
                <a href="{{ url_for('add_new_comment_to_question', question_id=question.id) }}">
                    <button type="submit">Add comment</button>
                </a>
            </div>
        </div>

    </div>
    <br>
    <h3>Comment to questions:</h3>
    {% for comment in question_comments %}
    <br>
        #{{ comment.id }}<br>
        {{ comment.message }}<br>
        {{ comment.submission_time }}<br>
        {{ comment.edited_count }}<br>
            <div id="delete-comment-container">
                <a href="{{ url_for('delete_question_comment', comment_id=comment.id, question_id=question.id) }}">
                    <button type="submit">Delete comment</button>
                </a>
            </div>
            <div id="edit-comment-container">
                <a href="{{ url_for('edit_question_comment', comment_id=comment.id)}}">
                    <button type="submit">Edit comment</button>
                </a>
            </div>
    {% endfor %}
    <br>

    <h3>Answers:</h3>

    {% for answer in answers %}
    <br>
            #{{ answer.id }}<br>

            {{ answer.submission_time }}<br>

            Votes: {{ answer.vote_number }}<br>

            {{ answer.message }}<br>

            {{ answer.image }}<br>


        <div id="delete-answer-container">
            <a href="{{ url_for('delete_answer', question_id=question.id, answer_id=answer.id) }}">
                <button type="submit">Delete answer</button>
            </a>
        </div>
        <div id="edit-answer-container">
            <a href="{{ url_for('edit_answer', answer_id=answer.id)}}">
                <button type="submit">Edit an answer</button>
            </a>
        </div>
        <div id="answer-comment-container">
            <a href="{{ url_for('add_comment_to_answer', answer_id=answer.id) }}">
                <button type="submit">Add comment to answer</button>
            </a>
        </div>

        <h3>Comments to answer:</h3>
        {% set outer_loop = loop %}

        {% for a_comment in answers_comments[outer_loop.index - 1] %}
            <br>
            comment id: {{ a_comment.id }}<br>
            {{ a_comment.message }}<br>
            {{ a_comment.submission_time }}<br>
            {{ a_comment.edited_count }}<br>
            <a href="{{ url_for('edit_answer_comment', comment_id=a_comment.id)}}">
                    <button type="submit">Edit comment</button>
            </a>
        {% endfor %}


    {% endfor %}

{% endblock content %}