{% extends 'base.html' %}
{% block title%}Add new question{% endblock %}
{% block content %}
    <a href="/">
        <div id="logo-container"></div>
    </a>
        <div class="question-on-list">
            <div class="question-title-overflowing">
                    <div class="title">
                        {{ question['title'] }}
                    </div>
            </div>
            <table style="width: 100%">
                <tr style="height: 1px">
                    <td style="width: 3rem; vertical-align: middle; align-content: center; padding-top: 1rem; padding-left: 1rem">
                        <div style="text-align: center">
                            <img src='/static/img/clock.png' style="width: 1rem; height: 1rem; position: center">
                            <br>
                            <p style="width: 10ch; padding-bottom: 1rem">
                                {{ question['submission_time'] }}
                            </p>
                        </div>
                    </td>
                    <td style="padding: 1rem; vertical-align: top; height: 100%">
                        <div class="message-overflowing">
                            {{ question['message'] }}
                        </div>
                    </td>
                    <td style="vertical-align: top; text-align: right">
                        <div class="views">
                            <div style="padding-top: 0.65rem; padding-left: 0.5rem; padding-right: 0.5rem">
                                {{ question['view_number'] }}
                            </div>
                            <img src='/static/img/eye.png' style="float: right; width: 1.5rem; height: 1.5rem; padding-top: 0.65rem">
                        </div>
                        <div style="display: flex; flex-direction: column; justify-content: flex-end; height: 50%">
                            <div class="votes">
                                <a href="{{ url_for('up_vote_question', question_id=question.id) }}">
                                    <div id="upvote">
                                    </div>
                                </a>
                                <div style="float: right; padding-top: 0.25rem; padding-left: 0.5rem; padding-right:0.5rem">
                                    {{ question['vote_number'] }}
                                </div>

                                <a href="{{ url_for('down_vote_question', question_id=question.id) }}">
                                    <div id="downvote">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div style="width: 90%; text-align: center">
            <div id="disp-question-btn-container">
                <a href="{{ url_for('add_new_answer', question_id=question.id) }}">
                    <button type="submit" class="submit-btn">Add new answer</button>
                </a>
            </div>
            <div id="disp-question-btn-container">
                <a href="{{ url_for('edit_question', question_id=question.id) }}">
                    <button type="submit" class="submit-btn">Edit question</button>
                </a>
            </div>
            <div id="disp-question-btn-container">
                <a href="{{ url_for('delete_question', question_id=question.id) }}">
                    <button type="submit" class="submit-btn">Delete question</button>
                </a>
            </div>
            <div id="disp-question-btn-container">
                <a href="{{ url_for('add_new_comment_to_question', question_id=question.id) }}">
                    <button type="submit" class="submit-btn">Add comment</button>
                </a>
            </div>
        </div>

    <br>
    <h3>Comment to questions:</h3>
    {% for comment in question_comments %}
    <br>
        #{{ comment.id }}<br>
        {{ comment.message }}<br>
        {{ comment.submission_time }}<br>
        {{ comment.edited_count }}<br>

        <div id="edit-comment-container">
            <a href="{{ url_for('edit_question_comment', comment_id=comment.id)}}">
                <button type="submit">Edit comment</button>
            </a>
        </div>
        <div id="delete-comment-container">
            <a href="{{ url_for('delete_question_comment', comment_id=comment.id, question_id=question.id) }}">
                <button type="submit">Delete comment</button>
            </a>
        </div>
    {% endfor %}
    <br>

    <h3>Answers:</h3>

    {% for answer in answers %}
    <br>
            #{{ answer.id }}<br>

            {{ answer.submission_time }}<br>

            Votes: {{ answer.vote_number }}<br>

            {{ answer.message }}<br>

            {{ answer.image }}<br>

        <div id="edit-answer-container">
            <a href="{{ url_for('edit_answer', answer_id=answer.id)}}">
                <button type="submit">Edit an answer</button>
            </a>
        </div>

        <div id="delete-answer-container">
            <a href="{{ url_for('delete_answer', question_id=question.id, answer_id=answer.id) }}">
                <button type="submit">Delete answer</button>
            </a>
        </div>
        <div id="answer-comment-container">
            <a href="{{ url_for('add_comment_to_answer', answer_id=answer.id) }}">
                <button type="submit">Add comment to answer</button>
            </a>
        </div>

        <h3>Comments to answer:</h3>
        {% set outer_loop = loop %}

        {% for a_comment in answers_comments[outer_loop.index - 1] %}
            <br>
            comment id: {{ a_comment.id }}<br>
            {{ a_comment.message }}<br>
            {{ a_comment.submission_time }}<br>
            {{ a_comment.edited_count }}<br>

            <div id="edit-answer-comment-container">
                <a href="{{ url_for('edit_answer_comment', comment_id=a_comment.id)}}">
                        <button type="submit">Edit comment</button>
                </a>
            </div>

            <div id="delete-answer-comment-container">
                <a href="{{ url_for('delete_question_comment', comment_id=a_comment.id, question_id=question.id) }}">
                    <button type="submit">Delete comment</button>
                </a>
            </div>

        {% endfor %}


    {% endfor %}


{% endblock content %}