{% extends 'base.html' %}
{% block title%}Add new question{% endblock %}
{% block content %}
    <div>
        <div id="title" style="width: 60%;float: left"><h1>{{ question["title"] }}</h1></div>
        <div id="id" style="width: 40%;float: left"><h1>ID: {{ question["id"] }}</h1></div>
        <div id="submission_time" style="width: 20%;float: left;margin-bottom: 30px">{{ question["submission_time"] }}</div>
        <div id="view_number" style="width: 20%;float: left;margin-bottom: 30px">Views: {{ question["view_number"] }}</div>
        <div id="vote_number" style="width: 20%;float: left;margin-bottom: 30px">Votes: {{ question["vote_number"] }}</div>
        <div id="message" style="width: 100%;float: left;margin-bottom: 30px"><h2>{{ question["message"] }}</h2></div>
    </div>
{% endblock content %}