{% extends 'base.html' %}
{% block title%}Edit an answer{% endblock %}

{% block content %}
    <a href="/list">
        <div id="logo-container"></div>
    </a>

    <div class="form_layout">
        <h1 class="action_title">Edit an answer</h1>

        <form action="{{ url_for('edit_answer_post', answer_id=answer.id) }}" enctype="multipart/form-data" method="POST" class="action_form">
            <label for="edit_answer_message">Answer Description:</label><br>
            <textarea name="edit_answer_message" id="edit_answer_message">{{ answer['message'] }}</textarea>

            <input type="file" id="file" name="image"/>
            <label for="file" class="btn">Edit image</label>

            <input type="submit" value="Edit an answer">

            <a href="{{ url_for('display_question', question_id=answer['question_id'])}}" style="text-decoration: none"><div class="back_to_question_btn">Back to question</div></a>

        </form>

    </div>
{% endblock %}
