{% extends "base.html" %}

{% block title %}Editing comment{% endblock %}

{% block content %}
    <a href="/">
        <div id="logo-container"></div>
    </a>

    <div class="form_layout">
        <h1 class="action_title">Edit comment to answer</h1>
        <div class="paragraph_class">
                <p class="paragraph_look"><span>Description: </span>{{ answer['message'] }}</p>
        </div>

        <form action="{{ url_for('edit_answer_comment_post', comment_id=comment.id) }}" method="POST" class="action_form">
            <label for="message">Your comment:</label><br>
            <textarea name="edit_comment_message" id="message">{{ comment.message }}</textarea><br><br>
            <input type="submit" value="Edit comment">

            <div class="back_to_question_btn">
            <a href="{{ url_for('display_question', question_id=answer['question_id'])}}" >Back to question
                </a>
            </div>

            <p id="edited_count">Edited: {{ comment.edited_count }} times</p>
        </form>



    </div>

{% endblock %}