{% extends "base.html" %}
{% block title%}AskMate{% endblock %}
{% block content %}

    <table class="sticky" style="width: 100%; background-color: rgb(215,215,215); border-bottom: 2px solid;border-color: rgb(57,57,57)">
        <tbody>
            <tr>
                <td style="vertical-align: middle; width: 337px">
                    <a href="/">
                        <div id="logo-container"></div>
                    </a>

                </td>
                <td style="vertical-align: bottom; padding-bottom: 2rem; padding-right: 2.5rem">
                    <div style="display: flex; justify-content: center">
                        <div id="question-button-container">
                            <a href="{{ url_for('add_question') }}">
                                <img src='/static/img/opaque.png' style="width:250px; max-height:100%;">
                            </a>
                        </div>

                    </div>
                </td>
                <td style="width: 16rem;padding-top: 1rem">
                    <form action="/list">
                        <div id="ordering-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="padding-left: 2rem; padding-right: 2rem;text-align: right; height: 3rem; font-size: 1.3rem; vertical-align: middle" colspan="2">
                                            SORT QUESTIONS
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: right; padding-right: 1.5rem";>
                                            <label for="order-by">
                                                BY:
                                            </label>
                                            <select id="order-by" name="order_by">
                                                {% for key in order_by_labels %}
                                                    {% if key == current_order_by %}
                                                        <option selected label="{{ order_by_labels[key] }}">
                                                            {{ key }}
                                                        </option>
                                                    {% else %}
                                                        <option label="{{ order_by_labels[key] }}">
                                                            {{ key }}
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td style="text-align: left; height: 2.8rem; vertical-align: middle; width: 2rem; padding-right: 1.5rem; padding-bottom: 1.1rem" rowspan="2">
                                            <div id="check-button-container" style="background-position: left;min-width: 2rem">
                                                <input type="image" src='/static/img/opaque.png' style="width: 2rem; height: 2.8rem; min-width: 2rem; vertical-align: middle"/>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;padding-right: 1.5rem; padding-top: 0.2rem; padding-bottom: 1.1rem">
                                            <label for="order-direction">
                                                DIR:
                                            </label>
                                            <select id="order-direction" name="order_direction">
                                                {% for key in order_dir_labels %}
                                                    {% if key == current_order_dir %}
                                                        <option selected label="{{ order_dir_labels[key] }}">
                                                            {{ key }}
                                                        </option>
                                                    {% else %}
                                                        <option label="{{ order_dir_labels[key] }}">
                                                            {{ key }}
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    {% for question in questions %}
        <br>
        <div class="question-on-list">
            <div class="question-title">
                <a href="/question/{{question['id']}}" style="text-decoration: none">
                    <div class="link">
                        {{ question['title'] }}
                    </div>
                </a>
            </div>
            <table style="width: 100%">
                <tr style="height: 1px">
                    <td style="width: 3rem; vertical-align: middle; align-content: center; padding-top: 1rem; padding-left: 1rem">
                        <div style="text-align: center">
                            <img src='/static/img/clock.png' style="width: 1rem; height: 1rem; position: center">
                            <br>
                            <p style="width: 10ch; padding-bottom: 1rem">
                                {{ question['submission_time'] }}
                            </p>
                        </div>
                    </td>
                    <td style="padding: 1rem; vertical-align: top; height: 100%">
                        <div class="message">
                            {{ question['message'] }}
                        </div>
                    </td>
                    <td style="vertical-align: top; text-align: right">
                        <div class="views">
                            <div style="padding-top: 0.65rem; padding-left: 0.5rem; padding-right: 0.5rem">
                                {{ question['view_number'] }}
                            </div>
                            <img src='/static/img/eye.png' style="float: right; width: 1.5rem; height: 1.5rem; padding-top: 0.65rem">
                        </div>
                        <div style="display: flex; flex-direction: column; justify-content: flex-end; height: 50%">
                            <div class="votes">
                                <a href="{{ url_for('up_vote_question', question_id=question.id) }}">
                                    <div id="upvote">
                                    </div>
                                </a>
                                <div style="float: right; padding-top: 0.25rem; padding-left: 0.5rem; padding-right:0.5rem">
                                    {{ question['vote_number'] }}
                                </div>

                                <a href="{{ url_for('down_vote_question', question_id=question.id) }}">
                                    <div id="downvote">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <br>
    {% endfor %}
    <br><br><br><br><br><br><br><br>

{% endblock content %}
