{% extends "base.html" %}
{% block title%}AskMate{% endblock %}
{% block content %}
    <h1>AskMate</h1>
    <h2><a href="{{ url_for('route_ask_question') }}">Add new question</a></h2><br>

    <form action="/list">
        <table>
            <thead>
                <tr>
                    <th style="width: 150px">Order By</th>
                    <th style="width: 150px">Order Direction</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align: center">
                        <select id="order-by" name="order_by">
                            {% for mode in sorting_modes %}
                                {% if mode == current_ordering %}
                                    <option selected="selected" label="{{ sorting_modes[mode] }}">{{ mode }}</option>
                                {% else %}
                                    <option label="{{ sorting_modes[mode] }}">{{ mode }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td style="text-align: center">
                        <select id="order-direction" name="order_direction">
                            {% for direction in sorting_direction %}
                                {% if direction == current_direction %}
                                    <option selected="selected" label="{{ sorting_direction[direction] }}">{{ direction }}</option>
                                {% else %}
                                    <option label="{{ sorting_direction[direction] }}">{{ direction }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <button type="submit">Apply</button>
                    </td>
                </tr>
            </tbody>
        </table>
    <br><br>
    </form>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th style="width:100px; text-align:center">Posted</th>
            <th style="width:80px; text-align:center">Viewed</th>
            <th style="width:80px; text-align:center">Votes</th>
            <th style="width:150px; text-align:center">Question Title</th>
            <th style="width:400px; text-align:center">Question Description</th>
            <th style="width:150px; text-align:center">Image</th>
        </tr>
        <tr><td style="height:10px"></td></tr>
        </thead>
        {% for question in questions %}
            <tr>
            {% block loop_item scoped %}
                <td style="text-align:center">{{ question.id }}</td>
                <td style="text-align:center">{{ question.submission_time }}</td>
                <td style="text-align:center">{{ question.view_number }}</td>
                <td style="text-align:center">{{ question.vote_number }}</td>
                <td style="text-align:center"><a href="/question/{{question.title}}">{{ question.title }}</a></td>
                <td style="text-align:center">{{ question.message }}</td>
                <td style="text-align:center">{{ question.image }}</td>
            {% endblock loop_item %}
            </tr>
            <tr><td style="height:10px"></td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
