{% extends 'base.html' %}
{% block title%}Login page{% endblock %}
{% block content %}
    <a href="/list">
        <div id="logo-container"></div>
    </a>

    <div class="form_layout" style="min-width: 28rem; max-width: 28rem; margin-left: auto; margin-right: auto">

        <h1 class="action_title">REGISTRATION DETAILS</h1>

        <form action="{{ url_for('register_post') }}" method="POST" class="action_form" style="text-align: center">
            <label for="display_username">User name:</label><br>
            <input id="display_username" name="username" required><br><br>

            <label for="email">Email address: </label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="password">Password:
            <span>
                {% if missmatch == True %}
                    missmatch
                {% endif %}
            </span>
            </label>
            <br>
            <input type="password" id="password" name="password" required><br><br>

            <label for="confirm_password">Confirm password:
            <span>
                {% if missmatch == True %}
                    missmatch
                {% endif %}
            </span>
            </label><br>
            <input type="password" id="confirm_password" name="c_password" required><br><br>

            <input type="submit" value="REGISTER">
        </form>

    </div>
{% endblock %}
